@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: rgb(51, 51, 51);
}
.listBox{
    background-color: #28a745;
    width: 30rem;
    height: 30rem;
    margin: 2rem auto;
}
.inputBox{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
input{
    width: 25rem;
    background-color: white;
    font-size: larger;
    background-color: rgb(51, 51, 51);
    color: white;
}
ul{
    padding-right: 2rem;
}
li{
    list-style: none;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    font-size: larger;
    height: 3rem;
    padding-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
i{
    float: right;
}
.toDoListBox{
    overflow-y: scroll;
    height: 20rem;
}